body {
    font-family: 'Poppins', sans-serif; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f3e5f5; 
    color: #4a148c; 
}

.container {
    max-width: 900px;
    margin: 40px auto;
    background: #ffffff;
    padding: 30px 50px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); 
    border-radius: 15px; 
}

header {
    text-align: center;
    border-bottom: 3px solid #e1bee7; 
    padding-bottom: 15px;
    margin-bottom: 30px;
}
header h1 {
    color: #673ab7; 
    margin: 0;
    font-size: 2.8em;
    font-weight: 700;
}
header p {
    margin: 5px 0 0;
    font-size: 1.2em;
    color: #9c27b0; 
}
.links {
    margin-top: 15px;
}
.links a {
    margin: 0 12px;
    color: #9c27b0;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s, transform 0.3s;
}
.links a:hover {
    color: #673ab7; 
    transform: translateY(-2px);
}

section {
    margin-bottom: 40px;
    padding-top: 10px;
}
section h2 {
    border-left: none;
    background-color: #e1bee7; 
    padding: 5px 15px;
    color: #673ab7;
    margin-bottom: 25px;
    font-size: 1.8em;
    display: inline-block;
    border-radius: 5px;
}

/* Itens de Projeto/Atividade */
.item {
    margin-bottom: 25px;
    padding: 18px;
    border-radius: 8px;
    background-color: #ffffff; 
    border: 1px solid #e1bee7; 
    box-shadow: 0 2px 5px rgba(103, 58, 183, 0.05); 
    transition: box-shadow 0.3s;
}
.item:hover {
    box-shadow: 0 4px 10px rgba(103, 58, 183, 0.1); 
}
.item h3 {
    margin-top: 0;
    color: #4a148c; 
    font-size: 1.5em;
    border-bottom: 1px dashed #e1bee7;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.item p {
    margin: 8px 0;
}
/* Links de código dentro dos itens */
.item a {
    color: #9c27b0; 
    text-decoration: none;
    font-weight: 600;
}
.item a:hover {
    text-decoration: underline;
    color: #673ab7;
}

/* Rodapé */
footer {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #e1bee7;
    margin-top: 40px;
}
footer p {
    font-size: 0.9em;
    color: #9c27b0;
}

/* Adicionando Responsividade */
@media (max-width: 768px) {
    .container {
        width: 95%;
        margin: 20px auto;
        padding: 20px 25px;
    }
    header h1 {
        font-size: 2em;
    }
    section h2 {
        font-size: 1.5em;
        display: block;
        text-align: center;
    }
    .links a {
        display: block;
        margin: 5px 0;
    }
}